[Desktop Entry]
Name=Glacier Player
Comment=Glacier Player — a COSMIC desktop applet for QQ Music
Type=Application
Icon=io.github.cosmic-applet-mare
Exec=cosmic-applet-mare %u
Terminal=false
StartupNotify=true
Categories=COSMIC;Audio;Music;Player
Keywords=COSMIC;Glacier;QQ Music;Music;Streaming;Audio
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
